body{
    background: url(https://fauna.digital/akt/bg-body.png);
}
h2{
    line-height: 25px;
    display: block;
}
.heading-container{
    width: 200px;
    margin-left: 20px;
}
.heading{
    color: #4D4D4D;
    font-size: 35px;
    line-height: 35px;
}
.container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
.escuelas-container{
    min-width: 30%;
    max-width: 90%;
    border-style: solid;
    border-color: rgba(46, 46, 46, 0.3);
    box-shadow: 0px 0px 5px rgba(39, 39, 39, 0.356);
    border-radius: 8px;
    border-width: 1px;
    padding: 10px 15px ;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-left: 20px;
    padding-top: 20px;
}
.section{
    width: 180px;
    height: 140px;
    padding: 10px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: box-shadow 0.2s, width 0.2s;
}
.section:hover{
    box-shadow: 0px 0px 5px rgba(39, 39, 39, 0.815);
    width: 190px;
}
.img-link{
    cursor: pointer;
}
.imagen-escuela{
    height: 130px;  
    width: 180px;
    object-fit:contain;
}
.line{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
} 
/*Carrusel Styles*/
.carrusel{
    margin-top: 30px;
    padding-left: 25px;
    padding-top: 10px;
    display: flex;
    width: 100%;
    max-width: 1100px;
}
.carrusel-text{
    width: 30%;
}
.carrusel-text h2{
    color: #4D4D4D;
    font-size: 35px;
    line-height: 35px;
}
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    min-width: 0px;
    max-width: 850px;
    height: 300px;
    margin: 0 auto;
  }
  
  .carousel-items {
    display: flex;
    width: max-content;
    transition: transform 0.5s ease-in-out;
  }
  .carousel-item img{
    height: 190px;
    cursor: pointer;    
    transition: opacity 0.15s;
  }
  .carousel-item img:hover{
    opacity: 0.85;
    
    
  }
  .carousel-item img:active{
    opacity: 0.3;
    
  }
  .carousel-item {
    flex: 0 0 150px;
    height: 80%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    bottom: 0px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
  }
  .prev-button img:active,
  .next-button img:active{
    width: 77px;
  }
  .prev-button {
    left: 0px;
  }
  
  .next-button {
    right: 0px;
  }
  
  @media screen and (max-width: 500px) {
    .body{
        zoom: 80%;
    }
    .carrusel-text{
        font-size: 13;
    }
    .carrusel-text h2{
        font-size: 22px;
    }
    .carrusel{
        flex-direction: row;
        padding-left: 10px;

    }
    .carousel-container {
        width: 30%;
    }
    .prev-button img,.next-buttonimg{
        width: 50px;
    }
  }
@media (max-width: 700px){
    .carousel-container {
        width: 60%;
      }
      
    .section{
        padding: 0px;
        width: 140px;
        height: 100px;
    }
    .imagen-escuela{
        height: 90px;
        width: 130px;
    }
    .section:hover{
        width: 145px;
    }
}   
@media  (min-width: 501px) and (max-width: 1024px) {

}