  body{
    zoom:85%;
    background: url(imgs/fondo2.png);
  }
  .header{
    min-width: 1200px;
    display: flex;
    align-items: top;
    justify-content: center;
    padding-top: 20px;
  }

  .header-container{
    width: 1200px;
    max-width: 2000px;
    height: 500px;
    display: flex;
    align-items: top;
    justify-content: center;
  }
  .left-header{
    width: 100px;
    position: relative;
  }
  .title{
    font-family: open sans;
    width: 300px;
    font-weight: 700;
    color: #064068;
    font-size: 35px;
  }
  .title2{
    display: none;
    font-family: open sans;
    width: 300px;
    font-weight: 700;
    color: #064068;
    font-size: 35px;
  }
  .right-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .certificados{
    background-color: #064068;
    border-radius: 15px;
    border-style: none;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
  }
  .certificados:hover{
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
  }
  .certificados:active{
    opacity: 0.5;
  }
  .certificados img{
    margin-right: 10px;
    width: 32px;
  }
  .certificados p{
    color: white;
    font-size: 18px;
  }
  .logo{
    max-width: 170px;
    margin-top: 20px;
    width: 100%;
  }
  .flechas-container{
    margin-top: 130px;
    width: 800px;
    position: relative;
  }
  .ruta{
    margin-top: 15px;
    width: 70%;
    
  }
  .ruta2{
    display: none;
    width: 430px;
  }
  .flecha1,.flecha2,.flecha3,.flecha4,.flecha5{
    display: flex;
    flex-direction: row;
    align-items:top;
    justify-content: center;
    position: absolute;

  }
  .flecha1{
    top: -30px;
    left: 32px;
    animation: fadeAndMove 0.5s linear forwards;
  }
  .flecha2{
    top: 50px;
    left: 240px;
    animation: fadeAndMove 0.7s linear forwards;
  }
  .flecha3{
    bottom: 47px;
    left: 7px;
    animation: fadeAndMove 0.9s linear forwards;
  }
  .flecha4{
    bottom: 170px;
    right: 240px;
    animation: fadeAndMove 1.1s linear forwards;
  }
  .flecha5{
    bottom: 17px;
    right: 205px;
    animation: fadeAndMove 1.3s linear forwards;
  }
  .p-flecha{
    color:#064068;
    background-color: rgb(255, 255, 255);
    padding: 5px 5px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 17px;
    width: 100px;
  }
  .link-flecha{
    cursor:pointer;
    text-decoration:none;
  }
  .p-flecha:hover{
    text-decoration: underline;
    text-decoration-color: #064068;
  }
  .rueda{
    margin-top: 22px;
    margin-left: 5px;
    margin-right: 8px;
    width: 35px;
  }
  /* animation*/
  @keyframes fadeAndMove {
    0% {
      opacity: 0; /* Starting opacity */
      transform: translateY(-100px); /* Starting position */
    }
    50% {
      opacity: 1; /* Midway opacity */
      transform: translateY(-50px); /* Midway position */
    }
    100% {
      opacity: 1; /* Final opacity */
      transform: translateY(0px); /* Final position */
    }
  }
  
  @media (max-width: 500px){
    body{
      zoom: 50%;
      position: relative;
    }
    .right-header{
      flex-direction: row;
      position: relative;
      height: 100px;
      width: 200px;
    }
    .logo{
      position: absolute;
      bottom: 220px;
      left: -110px;
    }
    .right-header button{
      width: 200px;
      position: absolute;
      top: -930px;
      right: -400px;
      margin-left: 200px;
    }
    .right-header button p{ 
      font-size: 23px;

    }
    .right-header p{
      font-size: 30px;
    }
    .header{
      height: 100%;
    }
    .header-container{
      flex-direction: column;
      align-items: top;
      justify-content: left;  
      margin-left: 150px;
      margin-top: -70px;
      height: 100%;
    } 
    .title2{
      display: inline-block;
      width: 100%;
      margin-left: 30px;
      font-weight: 700;
      font-size: 50px;
      margin-bottom: 120px;
    }
    .left-header{
      display: none;
    }
    .title{
      font-size: 20px;
      color: #064068;
      position: absolute;
      top: -200px;
      
      width: 2000px;

    }
    .flechas-container{
      display: flex;
      align-items: top;
      justify-content: left;
      width: 550px;
      height: 800px;
      min-width: 0px;
      margin: 0px;
    }
    .ruta{
      height: 500px;
      width: 600px;
      object-position:top;
      display: none;
    }
    .ruta2{
      margin-left: 50px;
      height: 700px;
      width: 550px;
      display: block;
    }
    .flecha1,.flecha2,.flecha3,.flecha4,.flecha5{
      width: 300px;
    }
    .rueda{
      width: 40px;
      object-fit: fill;
    }
    .p-flecha{
      width: 150px;
    }
    .flecha1{
      top: -95px;
      left: 90px;
    }
    .flecha2{
      left: 300px;
      top: 40px;
    }
    .flecha3{
      bottom: 320px;
      left: -80px;
    }
    .flecha4{
      bottom: 370px;
      left: 350px;
    }
    .flecha5{
      right: -160px;
      bottom: 150px;
    }
    .p-flecha{
      font-size: 25px;
    }
  }

  @media  (min-width: 501px) and (max-width: 1024px) {
    .left-header{
      width: 100px;
    }
    .flechas-container{
      display: flex;
      align-items: top;
      justify-content: left;
      width: 450px;
      height: 800px;
      min-width: 0px;
      margin: 0px;
    }
    .title{
      font-size: 30px;
    }
    .ruta{
      display: none;
      margin-top: 90px;
      height: 70%;
      object-position:top;
    }
    .ruta2{
      display: block;
      height: 450px;
      margin-top: 70px;
      margin-left: 120px;
    }
    .header{
      padding-top: 60px;
    }
    .header-container{
      align-items: top;
      justify-content: left;
      margin-left: 80px;
      margin-top: -70px;
    }
    .right-header{
      margin-left: 160px;
      margin-top: 20px;
    }
    .flecha1{
      top: 10px;
      right:-10px;
    }
    .flecha2{
      right: -135px;
      top: 90px;
    }
    .flecha3{
      left: 65px;
      bottom: 420px;
    }
    .flecha4{
      right: -170px;
      bottom: 470px;
    }
    .flecha5{
      bottom:315px;
      right: -120px;
    }
  }

  @media (min-width: 1025px) {

  }

  @media (min-width: 1441px) {

  }
