  body{
    background: url(https://fauna.digital/akt/Fondo.png);
  }
  .header{
    min-width: 1200px;
    display: flex;
    align-items: top;
    justify-content: center;
    padding-top: 100px;
  }
  .header-container{
    width: 1200px;
    max-width: 2000px;
    height: 700px;
    display: flex;
    align-items: top;
    justify-content: center;
  }
  .left-header{
    width: 500px;
    position: relative;
  }
  .moto{

    max-width: 500px;
    min-width: 0px;
    position: absolute;
    left: -100px;
    bottom: 0;
  }
  .linea-azul{
    max-width: 700px;
    left: -180px;
    top: -200px;
    position: absolute;
  }
  .linea-azul-back{
    width: 75vh;
    max-width: 1000px;
    top: -100px;
    left: -400px;
    position: absolute;
    z-index: -1;
  }
  .right-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .llave{
    max-width: 120px;
    max-height: 200px;
    width: 80%;
    margin-bottom: 10px;
  }
  .logo{
    max-width: 120px;
    max-height: 70px;
    margin-top: 20px;
    width: 100%;
  }
  .flechas-container{
    margin-top: 60px;
    width: 800px;
    position: relative;
  }
  .ruta{
    width: 80%;
    min-width: 600px;

  }
  .flecha1,.flecha2,.flecha3,.flecha4{
    display: flex;
    flex-direction: row;
    align-items:top;
    justify-content: top;
    position: absolute;

  }
  .flecha1{
    top: -80px;
    left: 250px;
  }
  .flecha2{
    top: 100px;
    left: -60px;
  }
  .flecha3{
    top: 100px;
    right: 300px;
  }
  .flecha4{
    top: 160px;
    right: 30px;
  }
  .p-flecha{
    color: white;
    width: 80px;
  }
  .link-flecha{
    cursor:pointer;
    text-decoration:none;

  }
  .rueda{
    width: 80px;
  }
  @media (max-width: 700px){
    body{
      zoom: 50%;
    }
    .ruta{
      width: 400px;
    }
    .header-container{
      align-items: top;
      justify-content: left;  
    }
  }

  @media  (max-width: 1024px) {
    .left-header{
      display: none;
      width: 0px;
    }
    .flechas-container{
      display: flex;
      align-items: top;
      justify-content: left;
      width: 450px;
      height: 800px;
      min-width: 0px;
      margin: 0px;
    }
    .ruta{
      margin-top: 30px;
      height: 100%;
      object-fit: fill;
      min-width: 0px;
      object-position:top;
    }
    .header{
      padding-top: 60px;
    }
    .header-container{
      align-items: top;
      justify-content: left;
      margin-left: 80px;
      margin-top: -70px;
    }
    .right-header{
      display: none;
      width: 0px;
    }
  }

  @media (min-width: 1025px) {

  }

  @media (min-width: 1441px) {

  }
