  body{
    zoom:85%;
    background: url(imgs/fondo.png);
    background-size: 120%;
  }
  .header{
    min-width: 1200px;
    display: flex;
    align-items: top;
    justify-content: center;
    padding-top: 20px;
  }

  .header-container{
    width: 1200px;
    max-width: 2000px;
    height: 700px;
    display: flex;
    align-items: top;
    justify-content: center;
  }
  .left-header{
    width: 100px;
    position: relative;
  }
  .title{
    font-family: open sans;
    width: 300px;
    font-weight: 700;
    color: #064068;
    font-size: 35px;
  }
  .title2{
    display: none;
    font-family: open sans;
    width: 300px;
    font-weight: 700;
    color: #064068;
    font-size: 35px;
  }
  .right-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .certificados{
    background-color: #064068;
    border-radius: 15px;
    border-style: none;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
  }
  .certificados:hover{
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
  }
  .certificados:active{
    opacity: 0.5;
  }
  .certificados img{
    margin-right: 10px;
    width: 38px;
  }
  .certificados p{
    color: white;
    font-size: 22px;
  }
  .logo{
    max-width: 200px;
    margin-top: 20px;
    width: 100%;
  }
  .flechas-container{
    margin-top: 130px;
    width: 800px;
    position: relative;
  }
  .ruta{
    width: 80%;
    min-width: 600px;
  }
  .flecha1,.flecha2,.flecha3,.flecha4,.flecha5{
    display: flex;
    flex-direction: row;
    align-items:top;
    justify-content: center;
    position: absolute;

  }
  .flecha1{
    top: -135px;
    left: 240px;
    animation: fadeAndMove 0.5s linear forwards;
  }
  .flecha2{
    top: 80px;
    left: -120px;
    animation: fadeAndMove 0.7s linear forwards;
  }
  .flecha3{
    bottom: 100px;
    left: -90px;
    animation: fadeAndMove 0.9s linear forwards;
  }
  .flecha4{
    bottom: 210px;
    right: 270px;
    animation: fadeAndMove 1.1s linear forwards;
  }
  .flecha5{
    bottom: 250px;
    right: 50px;
    animation: fadeAndMove 1.3s linear forwards;
  }
  .p-flecha{
    color:#064068;
    font-weight: 500;
    font-size: 20px;
    width: 100px;
  }
  .link-flecha{
    cursor:pointer;
    text-decoration:none;
  }
  .p-flecha:hover{
    text-decoration: underline;
    text-decoration-color: #064068;
  }
  .rueda{
    margin-top: 22px;
    margin-left: 20px;
    margin-right: 8px;
    width: 50px;
  }
  /* animation*/
  @keyframes fadeAndMove {
    0% {
      opacity: 0; /* Starting opacity */
      transform: translateY(-100px); /* Starting position */
    }
    50% {
      opacity: 1; /* Midway opacity */
      transform: translateY(-50px); /* Midway position */
    }
    100% {
      opacity: 1; /* Final opacity */
      transform: translateY(0px); /* Final position */
    }
  }
  
  @media (max-width: 500px){
    .red-box{
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 340px;
      left: 0px;
      border-style: solid;
      border-color: red;
    }
    body{
      zoom: 50%;
      position: relative;
    }
    .header-container{
    }
    .right-header{
      flex-direction: row;
      position: relative;
      height: 100px;
      width: 200px;
    }
    .logo{
      position: absolute;
      left: -110px;
    }
    .right-header button{
      width: 250px;
      margin-left: 200px;
    }
    .right-header p{
      font-size: 30px;
    }
    .header{
      height: 100%;
    }
    .header-container{
      flex-direction: column;
      align-items: top;
      justify-content: left;  
      margin-left: 150px;
      margin-top: -70px;
      height: 100%;
    } 
    .title2{
      display: inline-block;
      width: 100%;
      margin-left: 30px;
      font-weight: 700;
      font-size: 50px;
      margin-bottom: 220px;
    }
    .left-header{
      display: none;
    }
    .title{
      font-size: 20px;
      color: #064068;
      position: absolute;
      top: -200px;
      
      width: 2000px;

    }
    .flechas-container{
      margin-top: 1000px;
      display: flex;
      align-items: top;
      justify-content: left;
      width: 450px;
      height: 800px;
      min-width: 0px;
      margin: 0px;
    }
    .ruta{
      height: 500px;
      width: 600px;
      min-width: 0px;
      margin-top: 30px;
      object-position:top;
    }
    .flecha1{
      top: -100px;
      left: 120px;
    }
    .flecha3{
      bottom: 340px;
      right: 430px;
    }
    .flecha4{
      bottom: 450px;
      left: 320px;
    }
    .flecha5{
      right: -50px;
      bottom: 250px;
    }
    .p-flecha{
      font-size: 22px;
    }
  }

  @media  (min-width: 501px) and (max-width: 1024px) {
    .left-header{
      width: 100px;
    }
    .flechas-container{
      display: flex;
      align-items: top;
      justify-content: left;
      width: 450px;
      height: 800px;
      min-width: 0px;
      margin: 0px;
    }
    .title{
      font-size: 30px;
    }
    .ruta{
      margin-top: 90px;
      height: 70%;
      object-position:top;
    }
    .header{
      padding-top: 60px;
    }
    .header-container{
      align-items: top;
      justify-content: left;
      margin-left: 80px;
      margin-top: -70px;
    }
    .right-header{
      margin-left: 160px;
      margin-top: 20px;
    }
    .flecha1{
      top: 0px;
      right:230px;
    }
    .flecha2{
      left: -30px;
      top: 110px;
    }
    .flecha3{
      left: -70px;
      bottom: 250px;
    }
    .flecha4{
      right: -200px;
      bottom: 420px;
    }
    .flecha5{
      bottom:330px;
      right: -25px;
    }
  }

  @media (min-width: 1025px) {

  }

  @media (min-width: 1441px) {

  }
